/* Body */

/* Body Sections */

/* Project Sections */

.projectSection {
  display: flex;
  justify-content: center;
  margin: 5% 2.5% 5% 2.5%;
  align-items: center;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  /* border-style: dashed; */
  /* border-width: 5px; */
  border-color: #2c2d2d;
  background: radial-gradient(#d9c3d7, #afdbf5);
  border-radius: 15px;
}
.projectTitle {
  display: flex;
  align-items: center;
  background: radial-gradient(#afdbf5, #ffb7c5);
  border-radius: 15px;
  color: #2c2d2d;
  /* flex-direction: column; */
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 95%;
  height: 30%;
  /* flex-wrap: nowrap; */
  border-style: solid;
  border-color: #2c2d2d;
}
